/* == GLOBAL == */

:root {
  --bg-color: #e2e2e2;
  --ctnt-color-1: #0000ff;
  --ctnt-color-2: #ff00f2;
  --ctnt-color-3: #ffff00;
  --ctnt-color-4: #8a2be2;
  --text-color: #000;

  /* (100% * 10px) / 16px */
  font-size: 62.5%;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  color: var(--text-color);
}

body {
  width: 100vw;
  height: 100vh;
  
  background: var(--bg-color);
  
  font-size: 1rem;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

/* == MAIN == */

main {
  width: 70%;
  max-width: 35rem;
  height: fit-content;

  position: relative;
  margin-bottom: 2rem;

  text-align: center;
}

main h1 {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-size: 3.5rem;

  margin-bottom: 3rem;
}

@media (max-width: 400px) {
  main h1 {
    font-size: 2.5rem;
  }
}

main .loading {
  width: 100%;
  height: 4rem;

  position: relative;

  border: .2rem solid var(--text-color);
  border-radius: 8rem;
}

main .loading .content {
  width: 10%;
  height: 100%;

  position: absolute;
  z-index: -2;

  border-radius: 8rem;

  background-color: blueviolet;
  animation: width-colors 5s infinite;
}

@keyframes width-colors {
  25% {
    background: var(--ctnt-color-1);
    width: 25%;
  }

  50% {
    background: var(--ctnt-color-2);
    width: 50%;
  }

  75% {
    background: var(--ctnt-color-3);
    width: 75%;
  }

  100% {
    background: var(--ctnt-color-4);
    width: 100%;
  }
}

/* == FOOTER == */

footer {
  position: absolute;
  bottom: 8rem;

  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  
  opacity: .8;
  transition: 300ms;
}

footer:hover {
  opacity: 1;
  cursor: pointer;
}
