* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  
  font-family: 'Cabin', sans-serif;

  background-image: url(./assets/homer-bg.png);
  background-size: cover;
  background-position-x: -120px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 70px;
}

main {
  width: 600px;
  height: 450px;

  text-align: center;

  position: relative;
}

.error {
  height: 242px;
  border-bottom: 2px solid grey;
}

.error h2 {
  height: 100%;
  margin-left: 40px;
  text-align: left;

  font-size: 235px;
  font-weight: bold;
  color: grey;
  letter-spacing: -15px;

  border: none;

  transition: 300ms;
}

.error img {
  position: absolute;
  right: 33px;
  top: 7px;

  width: 170px;
}

h1 {
  font-size: 40px;
  letter-spacing: -2px;

  margin: 20px 0 30px;
}

p {
  width: 70%;
  margin: 0 auto;

  font-size: 18px;
  opacity: .6;
}

button {
  font-size: 15px;
  color: #ffff00;
  filter: brightness(.9);
  opacity: .8;

  background-color: #161c25;
  border: none;
  border-radius: 5px;

  margin-top: 30px;
  padding: 8px 15px;

  transition: 300ms;
}

button:hover {
  cursor: pointer;
  background-color: #000000;
}

footer {
  font-size: 14px;
  color: black;

  opacity: .7;
  transition: 300ms;
}

footer a {
  text-decoration: none;
  color: black;
}

footer:hover {
  cursor: pointer;
}
